/* GENERAL STYLING */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f2eee4; */
}


/* NAV STYLING */

#nav {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    color: #f2eee4;
    letter-spacing: -0.25rem;
    font-style: italic;
}


.nav-links {
    display: flex;
}

.nav-link {
    margin: auto 3rem;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: #f2eee4;
}


/* LANDING PAGE STYLING */


.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.call-to-action {
    color: #333;
    margin: 5rem auto;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.call-to-action span {
    font-style: italic;
    color: rebeccapurple;
}



/* SPEED FEEDER CONTAINER */


.feeder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 1rem;
    padding: 2rem;
}

.directions {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #333;
}

textarea {
    color: #333;
    resize: none;
    overflow-y: scroll;
    margin-top: 2rem;
    display:flex;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    border: 0.1px solid;
    padding: 0.5rem;
    border-radius: 4px;
    border-color: rgb(173, 173, 173);
}



.speed-read-submit {
    white-space: nowrap;
    background-color: transparent;
    margin-top: 30px;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    color: green;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid;
    border-color: green;
    border-style: double;
    width: auto;
}

.speed-read-submit:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}

.speed-read-submit:focus {
    outline: none;
}

.speed-read-submit:active {
    transform: scale(0.95);
}


.reader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}




/* SPEED READER STYLING */



.word-viewer {
    border-radius: 5px;
    background: rgb(221, 221, 221);
    min-width: 500px;
    min-height: 300px;
    position: relative;
}


.word-viewer p {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.start-over {
    white-space: nowrap;
    background-color: transparent;
    margin-top: 30px;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    color: green;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid;
    border-color: green;
    border-style: double;
    width: auto;
}


.start-over:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}

.start-over:focus {
    outline: none;
}

.start-over:active {
    transform: scale(0.95);
}